$color-primary: #eb1561;
$color-default: #6b6e6f;
$color-white: #fff;
$color-black: #2b3940;

$bg-body: #f2f2f2;
$bg-regent: rgba(176, 213, 232, 0.15);

$text-primary: $color-primary;
$text-black: $color-black;
$text-default: $color-default;
